<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">BMI</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-list>
      <ion-item>
        <ion-label>Height</ion-label>
        <ion-input type="number" name="height" [(ngModel)]="height"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Weight</ion-label>
        <ion-input type="number" name="weight" [(ngModel)]="weight"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Bmi</ion-label>
        <ion-input type="number" name="bmi" readonly value="{{bmi | number : '1.2-2'}}"y></ion-input>
      </ion-item>

    </ion-list>
    <div class="ion-padding">
      <ion-button expand="block" type="submit" class="ion-no-margin" (click)="calculate()">Calculate</ion-button>
    </div>

  </div>
</ion-content>
